In [1]:
import pandas as pd
import spacy

In [2]:
db = 'sqlite:////home/dh2019gender/pg-text-7.db'
query = 'select * from meta where LCC like "%PR%"'
df = pd.read_sql(query, db)

In [3]:
len(df)

7321

In [16]:
df.head(10)[['title', 'wp_publication_date', 'publication_date', 'gr_pubDate']]

,title,wp_publication_date,publication_date,gr_pubDate
0,Alice's Adventures in Wonderland,1865-11-26,,1865--
1,Through the Looking-Glass,,2015-08-01,1871--
2,The Hunting of the Snark: An Agony in Eight Fits,,,2015-8-12
3,Peter Pan,--10-11,,
4,Paradise Lost,,,1667--
5,Paradise Lost,,,1667--
6,Far from the Madding Crowd,,,1874--
7,The Time Machine,,2015-08-01,
8,The War of the Worlds,,2015-08-01,
9,The Strange Case of Dr. Jekyll and Mr. Hyde,,2015-08-01,1886-1-5

In [13]:
df.columns

Index(['', 'LCC', 'author', 'authoryearofbirth', 'authoryearofdeath',
       'downloads', 'formats', 'id', 'languages', 'lcsh', 'title', 'type',
       '_repo', '_version', 'alternative_title', 'contributor', 'covers',
       'creator', 'description', 'edition_identifiers', 'edition_note',
       'gutenberg_bookshelf', 'gutenberg_issued', 'gutenberg_type',
       'identifiers', 'jmdate', 'subjects', 'language_note', 'production_note',
       'publication_date', 'publication_note', 'publisher', 'rights',
       'rights_url', 'series_note', 'summary', 'tableOfContents',
       'titlepage_image', 'url', 'wikipedia', 'filename', 'releaseDate',
       'wp_publication_date', 'wp_subjects', 'wp_info', 'wp_literary_genres',
       'gr_rating', 'gr_numReviews', 'gr_pubDate', 'gr_id', 'gr_info',
       'gr_author_id', 'gr_image_url', 'gr_small_image_url', 'am_title',
       'am_author', 'am_cat', 'am_cat_ancestors', 'am_genre',
       'am_editorial_reviews', 'am_sales_rank', 'am_isbn', 'vector',
       'vectorNorm', 'vecType', 'vectorType'],
      dtype='object')